.main {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 140px;
  align-items: center;
  padding-top: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .main {
    padding-top: 0;
  }
  .container {
    flex-direction: column;
  }
}
