.container {
  border-radius: 12px;
  background-color: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.container:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .container {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }

  .image {
    width: 20px;
    height: 20px;
  }
}